@media(max-width: 1199px) {
    .header__logo {
        font-size: 35px;
        line-height: 25px;
    }

    .header__btn {
        font-size: 28px;
    }

    .header__nav {
        height: 10vh;
    }

    .header__title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .header__form {
        margin-top: 20px;
        padding: 20px 20px 10px;
    }

    .header-form_title {
        margin-bottom: 0;
    }

    .header-form_field {
        margin-top: 15px;
        width: 260px;
    }

    .header-form_message {
        margin-bottom: 15px;
    }

    .header-form_button {
        width: 230px;
        height: 45px;
    }

    .main__directions {
        padding-top: 60px;
        padding-bottom: 55px;
    }

    .directions_title {
        font-size: 40px;
        margin-bottom: 130px;
    }

    .direction-item_img {
        width: 200px;
        height: 200px;
    }

    .direction-item_title {
        font-size: 32px;
        margin-top: 45px;
    }

    .main__cities {
        padding: 55px 0;
    }

    .cities_title {
        font-size: 40px;
        margin-bottom: 35px;
    }

    .city-card_hover {
        width: 290px;
        height: 290px;
    }

    .city-card_img {
        height: 290px;
        width: 290px
    }

    .city-card_title {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .city-card_description {
        margin-bottom: 30px;
        margin-bottom: 80px;
    }

    .city-card_button {
        height: 45px;
    }

    .main__documents{
        padding: 55px 0 200px;
    }

    .documents_title {
        font-size: 40px;
        margin-bottom: 25px;
    }

    .documents_description,
    .document-item {
        font-size: 18px;
        margin-top: 20px;
    }

    .main__best-tours{
        padding: 50px 0 85px;
    }

    .best-tours_title{
        font-size: 40px;        
    }

    .best-tours_description{
        margin-bottom: 120px;
    }

    .best-tour_item_info{
        width: 220px;
        height: 70px;
        left: calc(50% - 110px);
        top: calc(100% - 35px);
    }

    .best-tour_item_title{
        font-size: 24px;
    }

    .best-tour_item_price{
        font-size: 22px;
    }

    .main__reviews{
        padding: 50px 0;
    }

    .reviews_title{
        font-size: 40px;
        margin-bottom: 60px;
    }

    .review-item_text{
        max-width: 400px;
    }

    .review-item{
        padding-top: 75px;
        padding-bottom: 30px;
    }

    .review-item_photo{
        width: 90px;
        height: 90px;
        left: calc(50% - 45px);

    }

    .review-item_rating{
        margin: 15px 0;
    }

    .reviews_description{
        margin-bottom: 100px;
    }

    .footer{
        padding-top: 50px;
        padding-bottom: 35px;
    }

    .footer__button{
        width: 200px;
        height: 50px;        
    }

    .footer__socials_button{
        width: 45px;
        height: 45px;
        font-size: 18px;
    }



}

@media(max-width: 991px){
    .header__logo{
        font-size: 30px;
    }

    .header__btn{
        font-size: 24px;
    }

    .header__title{
        font-size: 30px;
        margin-bottom: 10px;
    }

    .header__content_description{
        font-size: 14px;
        line-height: 18px;
    }

    .header-form_title{
        font-size: 18px;
    }

    .header-form_field{
        padding: 5px 10px;
        font-size: 14px;
        margin-top: 10px;
        width: 220px;
    }

    .header-form_button{
        width: 195px;
        height: 40px;
        font-size: 14px;
    }

    .main__directions{
        padding: 50px 0;
    }

    .directions_title{
        font-size: 34px;
        margin-bottom: 80px;
    }

    .direction-item_img{
        width: 150px;
        height: 150px;
    }

    .direction-item_title{
        font-size: 26px;
        margin-top: 30px;
    }

    .main__cities{
        padding: 50px 0;
    }

    .cities_title{
        font-size: 34px;
        margin-bottom: 25px;
    }

    .cities_description{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 60px;
    }

    .city-card_hover{
        width: 210px;
        height: 210px;
    }

    .city-card_button{
        font-size: 16px;
        width: 120px;
        height: 35px;
    }

    .city-card_button:hover{
        border: 1px var(--blue) solid;
    }

    .city-card_title{
        font-size: 24px;
        margin-bottom: 10px;
        line-height: 20px;
    }

    .city-card_description{
        margin-bottom: 10px;
        max-width: 190px;
        line-height: 18px;
    }

    .city-card_img{
        width: 210px;
        height: 210px;
    }

    .main__documents{
        padding: 50px 0 100px;
    }

    .documents_title{
        font-size: 30px;
        margin-bottom: 15px;
    }

    .documents_description, .document-item {
        font-size: 16px;
        margin-top: 10px;
        line-height: 22px;   
        text-align: justify; 
    }

    .main__best-tours{
        padding: 40px 0 75px;
    }

    .best-tours_title{
        font-size: 34px;
        margin-bottom: 20px;
    }

    .best-tours_description{
        line-height: 23px;
        margin-bottom: 70px;
    }

    .best-tour_item_info{
        width: 140px;
        height: 55px;
        left: calc(50% - 70px);
        top: calc(100% - 27px);
    }

    .best-tour_item_title{
        font-size: 20px;
        margin-bottom: 0;
    }

    .best-tour_item_title_span{
        display: none;
    }

    .best-tour_item_price{
        font-size: 18px;
    }

    .reviews_title{
        font-size: 34px;
        margin-bottom: 35px;
    }

    .reviews_description{
        margin-bottom: 75px;
    }

    .review-item_photo{
        width: 80px;
        height: 80px;
        left: calc(50% - 40px);
    }

    .review-item_text{
        font-size: 15px;
        line-height: 20px;
        max-width: 280px;
    }

    .review-item_rating{
        margin: 10px 0;
    }

    .review-item{
        padding-top: 55px;
        padding-bottom: 30px;
    }

    .footer{
        padding-top: 35px;
        padding-bottom: 20px;
    }

    .footer__button{
        width: 170px;
        height: 45px;
        margin-bottom: 0 auto 15px;
    }
}