@media(max-width: 1199px) {
    .header__logo {
        font-size: 35px;
        line-height: 25px;
    }

    .header__btn {
        font-size: 28px;
    }

    .header__nav {
        height: 10vh;
    }

    .header__title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .header__form {
        margin-top: 20px;
        padding: 20px 20px 10px;
    }

    .header-form_title {
        margin-bottom: 0;
    }

    .header-form_field {
        margin-top: 15px;
        width: 260px;
    }

    .header-form_message {
        margin-bottom: 15px;
    }

    .header-form_button {
        width: 230px;
        height: 45px;
    }

    .main__directions {
        padding-top: 60px;
        padding-bottom: 55px;
    }

    .directions_title {
        font-size: 40px;
        margin-bottom: 130px;
    }

    .direction-item_img {
        width: 200px;
        height: 200px;
    }

    .direction-item_title {
        font-size: 32px;
        margin-top: 45px;
    }

    .main__cities {
        padding: 55px 0;
    }

    .cities_title {
        font-size: 40px;
        margin-bottom: 35px;
    }

    .city-card_hover {
        width: 290px;
        height: 290px;
    }

    .city-card_img {
        height: 290px;
        width: 290px
    }

    .city-card_title {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .city-card_description {
        margin-bottom: 30px;
        margin-bottom: 80px;
    }

    .city-card_button {
        height: 45px;
    }

    .main__documents{
        padding: 55px 0 200px;
    }

    .documents_title {
        font-size: 40px;
        margin-bottom: 25px;
    }

    .documents_description,
    .document-item {
        font-size: 18px;
        margin-top: 20px;
    }

    .main__best-tours{
        padding: 50px 0 85px;
    }

    .best-tours_title{
        font-size: 40px;        
    }

    .best-tours_description{
        margin-bottom: 120px;
    }

    .best-tour_item_info{
        width: 220px;
        height: 70px;
        left: calc(50% - 110px);
        top: calc(100% - 35px);
    }

    .best-tour_item_title{
        font-size: 24px;
    }

    .best-tour_item_price{
        font-size: 22px;
    }

    .main__reviews{
        padding: 50px 0;
    }

    .reviews_title{
        font-size: 40px;
        margin-bottom: 60px;
    }

    .review-item_text{
        max-width: 400px;
    }

    .review-item{
        padding-top: 75px;
        padding-bottom: 30px;
    }

    .review-item_photo{
        width: 90px;
        height: 90px;
        left: calc(50% - 45px);

    }

    .review-item_rating{
        margin: 15px 0;
    }

    .reviews_description{
        margin-bottom: 100px;
    }

    .footer{
        padding-top: 50px;
        padding-bottom: 35px;
    }

    .footer__button{
        width: 200px;
        height: 50px;        
    }

    .footer__socials_button{
        width: 45px;
        height: 45px;
        font-size: 18px;
    }



}